html{
    scroll-behavior: smooth; 
}
body{
    background-color: black;
}




/* Header */

#header pre{
    left: 0%;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#header img{
    height: 180px;
    width: 180px;
    float: right;
    margin-right: 10%;

    clip-path: circle(50%);
    object-fit: cover;
    margin-top: -8%;  
}
#header img:hover{
    transform: scale(1.5);
}
#header{
    height: 220px;
    width:100%;
    background-image: url('./sanjayporttie.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}




/* Navbar */

#nav{
     background-color: black;
      justify-content: center;
        padding: 10px 0;
}
#nav a{
    color: white;
}
#nav a:hover{
    opacity: 0.5;
    transform: scale(1.3);
}


/* Home */

#home{
    background-image: linear-gradient(black 60%,rgb(202, 183, 9));
    word-spacing: 10px;
    font-size: large;
    padding: 5px;
}



/* Education */

#education{
    background-image: linear-gradient(black 60%,rgb(202, 183, 9));
    word-spacing: 10px;
    font-size: large;
    padding: 5px;
}
#education p{
   padding: 4px;
}




/* contacts */

#contact{
    bottom: 100%;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(black 60%,rgb(202, 183, 9));
}
#contact a{
    text-decoration: none;
    color:white;
    margin-right: 15px;
    margin-left: 15px;
}



/* project */

#projects{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 10px;
    line-height: 40px;
    font-size: large;
    padding: 5px;
    background-image: linear-gradient(black 60%,rgb(202, 183, 9));
}

#projects a{
    text-decoration: none;
    color: white;
}



/* Certificates */
#certificate{
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(black 60%,rgb(202, 183, 9));
}

#certificate p{
  margin-left: 10%;
  font-size: larger;
}

#certificate a{
  margin-left: 10%;
  font-size: larger;
  
}






/* Skills */
#skills{
     background-image: linear-gradient(black 60%,rgb(202, 183, 9));
     word-spacing: 10px;
     font-size: large;
     padding: 5px;
     line-height: 30px;
}